body {
	font-family: Arial, Helvetica, sans-serif;	
}

div.left-side {
	position: fixed;
	left: 0em;
	top: 0em;
	padding-top: 5em;
	color: white;
	height: 100%;
	background-color: #202020;
	border-right-style: solid;
	border-right-width: 0.2em;
	border-right-color: #707070;
	border-left-style: solid;
	border-left-width: 0.3em;
	border-left-color: #DDDDDD;
}

span.saveTable {
	color: #cccccc;
	font-size: 160%;
}

.modified span.saveTable {
	color: black;
	font-weight: bolder; 
}

div.modified {
	border-style: dashed;
	border-width: 0px 0px 0px 0.3em;	
	border-color: red;	
}

div.left-side h1 {
	margin: 0.4em;
	opacity:1;
}

div.left-side div.tools div {
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin: 0.4em;
}

div.palette-div  div {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	opacity:0.4;
}

div.palette-div div {
	opacity:0.4;
}	

div.operations-div div {
	opacity:1;
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #505050;
	cursor: default;
}	

div#selected-color {
	opacity: 0.9;
}

/* green */
.color1 {
	background-color: #00B060;
}

/* blue */
.color2 {
	background-color: #0A64A4;
	color: white;
}

/* orange */
.color3 {
	background-color: #FF9000;	
}

/* red */
.color4 {
	background-color: #FF4500;
}

/* lgreen */
.color5 {
	background-color: #6BE400;	
}

div.column {
	padding: 0.3em;	
}

span.columnTag {
	float: right;
	border-style: solid;
	border-width: 1px;
	margin-left: 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	cursor: move;
}

/*
 * Tags in the left size tool bar
 */
div.tag {
	font-size: 120%;
	clear: both;
	float: right;
	border-style: solid;
	border-width: 1px;
	margin: 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	cursor: move;
}

span.columnType {
	font-size: 70%;
	opacity: 0.7;
}

img.icon {
	float: right;
	width: 1.2em;	
}

div.tableList {
	margin-left: 10em;
}

