@(message: String, appName: String)
@main(Messages("app.title")) {

<div class="left-side">
	<div class="tools palette-div">
		<h1>@Messages("operations.colors")</h1>
		<div class="color1">1</div>
		<div class="color2">2</div>
		<div class="color3">3</div>
		<div class="color4">4</div>
		<div class="color5">5</div>
	</div>
	<div class="tags-div">
		<h1>@Messages("operations.tags")</h1>
		@* This little kludge keeps the tags from overflowing the buttons: *@
		<div style="clear: both"></div>
	</div>
	<div class="tools operations-div">
		<div class="createTag"><a href="/tags">@Messages("editTags.linkToPage")</a></div>
	</div>
	<div class="tools operations-div">
		<h1>@Messages("operations.others")</h1>
		<div class="clear">@Messages("operations.eraser")</div>
		<div class="store">@Messages("operations.save")</div>
		<div class="plumb">plumb</div>
		<div class="repaint">repaint</div>
	</div>
</div>

<div class="right-side tableList">
	<div class="table-organization">
	  <img class="in-list" src='@routes.Assets.at("images/tables-in-list.png")'>
	  <img class="organizable not-visible" src='@routes.Assets.at("images/tables-draggable.png")'>
	</div>
</div>
<script>
    
    jsPlumb.Defaults.Anchor = "AutoDefault";
    jsPlumb.Defaults.LogEnabled = true;
    jsPlumb.Defaults.DropOptions = {hoverClass: "color5"};
    
	$(document).ready(function() {
		onClickColor($("div.palette-div div.color1"));
		loadTags("@appName");
		loadData("@appName");
	});
    $("div.palette-div div").click(function () {
      onClickColor($(this));
    });
    $("div.operations-div div.clear").click(function () {
      onClickClear($(this));
    });
    $("div.operations-div div.store").click(function () {
      onClickStore($(this));
    });
    $("div.operations-div div.plumb").click(function () {
//    	jsPlumb.connect({source: $("#TOAD_PLAN_TABLE-ID"), target: $("#TABLES-TABLE_NAME"), container: $("div.tableList")});
		var source = $("td img");
    	jsPlumb.makeSource(source, {container: $("div.tableList"), scope: "foo"});
    	var target = $("td div.column");
    	jsPlumb.makeTarget(target, {container: $("div.tableList"), scope: "foo"});
    });
    $("div.operations-div div.repaint").click(function () {
    	jsPlumb.repaintEverything();
    });
    $("div.table-organization img.in-list").click(function () {
    	switchToOrganizableView($(this));
    });
    $("div.table-organization img.organizable").click(function () {
    	switchToInLineView($(this));
    });
</script>
}